In [1]:
import pandas as pd

In [2]:
label1 = ['u','v','w']
list1 = [5,10,15]
array1 = np.array([5,10,15])
x = {'u':5,'v':10,'w':15}

<class 'NameError'>: name 'np' is not defined

In [3]:
import numpy as np

In [4]:
label1 = ['u','v','w']
list1 = [5,10,15]
array1 = np.array([5,10,15])
x = {'u':5,'v':10,'w':15}

In [5]:
pd.Series(data=list1)

0     5
1    10
2    15
dtype: int64

In [6]:
pd.Series(data=list1,index=label1)

u     5
v    10
w    15
dtype: int64

In [7]:
pd.Series(list1,label1)

u     5
v    10
w    15
dtype: int64

In [8]:
pd.Series(array1,label1)

u     5
v    10
w    15
dtype: int32

In [9]:
series1= pd.Series([1,2,3,4],index = ['UIET', 'PEC','CCET', 'UICET'])
series1

UIET     1
PEC      2
CCET     3
UICET    4
dtype: int64

In [10]:
series2= pd.Series([1,2,3,4],index = ['UIET', 'PEC','CCET', 'IIT'])
series2

UIET    1
PEC     2
CCET    3
IIT     4
dtype: int64

In [11]:
series2['IIIT']

<class 'KeyError'>: 'IIIT'

In [12]:
series2['IIT']

np.int64(4)

In [13]:
series1+series2

CCET     6.0
IIT      NaN
PEC      4.0
UICET    NaN
UIET     2.0
dtype: float64

In [14]:
from numpy.random import randn
np.random.seed(51)

In [15]:
df = pd.DataFrame(randn(4,3),index='T U V W'.split(),columns='X Y Z'.split())
df

          X         Y         Z
T -0.290503  0.112128  1.250795
U -1.360890  0.099933 -0.047991
V -0.356230 -1.088559 -0.351018
W  2.588400 -0.505651 -0.584309

In [16]:
df[['Y','Z']]

          Y         Z
T  0.112128  1.250795
U  0.099933 -0.047991
V -1.088559 -0.351018
W -0.505651 -0.584309

In [17]:
df['A_new'] = df['X'] + df['Z']
df

          X         Y         Z     A_new
T -0.290503  0.112128  1.250795  0.960292
U -1.360890  0.099933 -0.047991 -1.408881
V -0.356230 -1.088559 -0.351018 -0.707247
W  2.588400 -0.505651 -0.584309  2.004091

In [18]:
df.drop('A_new',axis=1)

          X         Y         Z
T -0.290503  0.112128  1.250795
U -1.360890  0.099933 -0.047991
V -0.356230 -1.088559 -0.351018
W  2.588400 -0.505651 -0.584309

In [19]:
df.loc['T']

X       -0.290503
Y        0.112128
Z        1.250795
A_new    0.960292
Name: T, dtype: float64

In [20]:
df.iloc[2]

X       -0.356230
Y       -1.088559
Z       -0.351018
A_new   -0.707247
Name: V, dtype: float64

In [21]:
df.loc['U','Y']

np.float64(0.0999328823085621)

In [22]:
df[df['X']>0][['Y','X']]

          Y       X
W -0.505651  2.5884

In [23]:
df[(df['Y']>0) & (df['Z'] > 1)]

          X         Y         Z     A_new
T -0.290503  0.112128  1.250795  0.960292

In [24]:
df = pd.DataFrame({'X':[4,5,np.nan],
'Y':[6,np.nan,np.nan],
'Z':[7,8,9]})
df

     X    Y  Z
0  4.0  6.0  7
1  5.0  NaN  8
2  NaN  NaN  9

In [25]:
df.dropna()

     X    Y  Z
0  4.0  6.0  7

In [26]:
df.dropna(axis=1)

   Z
0  7
1  8
2  9

In [27]:
df.fillna(value='FILL VALUE')

            X           Y  Z
0         4.0         6.0  7
1         5.0  FILL VALUE  8
2  FILL VALUE  FILL VALUE  9

In [28]:
df['X'].fillna(value=df['X'].mean())

0    4.0
1    5.0
2    4.5
Name: X, dtype: float64

In [29]:
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
'B': ['B0', 'B1', 'B2', 'B3'],
'C': ['C0', 'C1', 'C2', 'C3'],
'D': ['D0', 'D1', 'D2', 'D3']},
index=[0, 1, 2, 3])
df1

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3

In [30]:
df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
'B': ['B4', 'B5', 'B6', 'B7'],
'C': ['C4', 'C5', 'C6', 'C7'],
'D': ['D4', 'D5', 'D6', 'D7']},
index=[4, 5, 6, 7])
df2

    A   B   C   D
4  A4  B4  C4  D4
5  A5  B5  C5  D5
6  A6  B6  C6  D6
7  A7  B7  C7  D7

In [31]:
pd.concat([df1,df2])

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3
4  A4  B4  C4  D4
5  A5  B5  C5  D5
6  A6  B6  C6  D6
7  A7  B7  C7  D7

In [32]:
pd.concat([df1,df2],axis=1)

     A    B    C    D    A    B    C    D
0   A0   B0   C0   D0  NaN  NaN  NaN  NaN
1   A1   B1   C1   D1  NaN  NaN  NaN  NaN
2   A2   B2   C2   D2  NaN  NaN  NaN  NaN
3   A3   B3   C3   D3  NaN  NaN  NaN  NaN
4  NaN  NaN  NaN  NaN   A4   B4   C4   D4
5  NaN  NaN  NaN  NaN   A5   B5   C5   D5
6  NaN  NaN  NaN  NaN   A6   B6   C6   D6
7  NaN  NaN  NaN  NaN   A7   B7   C7   D7